@using MjondalenInstallasjon.Web.Areas.Cms.ViewComponents
<!DOCTYPE html>

<html>
@await Component.InvokeAsync(typeof(HeadViewComponent))
<body>
    CmsLayout
@await Component.InvokeAsync(typeof(NavigationViewComponent))
@RenderBody()
</body>
</html>
