@using MjondalenInstallasjon.Web.Areas.Web.ViewComponents
<!DOCTYPE html>

<html>
@await Component.InvokeAsync(typeof(HeadViewComponent))
<body>
@await Component.InvokeAsync(typeof(NavigationViewComponent))
@RenderBody()
</body>
</html>